---
Checks:     '
            clang-diagnostic-*,
            bugprone-*,
            cert-*,
            clang-analyzer-*,
            concurrency-*,
            cppcoreguidelines-*,
            google-*,
            misc-*,
            modernize-*,
            performance-*,
            portability-*,
            readability-*,
            -bugprone-too-small-loop-variable,
            -bugprone-easily-swappable-parameters,
            -clang-analyzer-cplusplus.NewDelete,
            -clang-analyzer-cplusplus.NewDeleteLeaks,
            -cppcoreguidelines-avoid-magic-numbers,
            -modernize-use-nodiscard,
            -modernize-avoid-c-arrays,
            -readability-magic-numbers,
            -bugprone-branch-clone,
            -bugprone-signed-char-misuse,
            -bugprone-unhandled-self-assignment,
            -clang-diagnostic-implicit-int-float-conversion,
            -modernize-use-auto,
            -modernize-use-trailing-return-type,
            -readability-convert-member-functions-to-static,
            -readability-make-member-function-const,
            -readability-qualified-auto,
            -readability-redundant-access-specifiers,
            '
CheckOptions:
  - { key: readability-identifier-naming.ClassCase,                 value: CamelCase  }
  - { key: readability-identifier-naming.EnumCase,                  value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,              value: CamelCase  }
  - { key: readability-identifier-naming.GlobalConstantCase,        value: UPPER_CASE }
  - { key: readability-identifier-naming.MemberCase,                value: lower_case }
  - { key: readability-identifier-naming.MemberSuffix,              value: _          }
  - { key: readability-identifier-naming.NamespaceCase,             value: lower_case }
  - { key: readability-identifier-naming.StructCase,                value: CamelCase  }
  - { key: readability-identifier-naming.UnionCase,                 value: CamelCase  }
  - { key: readability-identifier-naming.VariableCase,              value: lower_case }
  - { key: readability-function-cognitive-complexity.IgnoreMacros,  value: true       }

# WarningsAsErrors: '*'

HeaderFilterRegex: '/(src|test)/include'
AnalyzeTemporaryDtors: true
