vim/.vim/*
!vim/.vim/vimspector_config
!vim/.vim/coc-settings.json
*.un~

tmux/.tmux/plugins/*
!tmux/.tmux/plugins/tpm

glzr/zebar
!glzr/zebar/starter/styles.css
!glzr/zebar/starter/with-glazewm.html
!glzr/zebar/starter/with-glazewm.zebar.json

!git/.git-commit-template.txt
