[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vim/.vim/plugged/onedark.vim"]
	path = vim/.vim/plugged/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule "vim/.vim/plugged/nerdtree"]
	path = vim/.vim/plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/.vim/plugged/gundo.vim"]
	path = vim/.vim/plugged/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule "vim/.vim/plugged/vim-signature"]
	path = vim/.vim/plugged/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "vim/.vim/plugged/vim-airline"]
	path = vim/.vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/.vim/plugged/vim-airline-themes"]
	path = vim/.vim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/.vim/plugged/vim-devicons"]
	path = vim/.vim/plugged/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "vim/.vim/plugged/ctrlp.vim"]
	path = vim/.vim/plugged/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/.vim/plugged/fzf"]
	path = vim/.vim/plugged/fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/.vim/plugged/fzf.vim"]
	path = vim/.vim/plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/.vim/plugged/ale"]
	path = vim/.vim/plugged/ale
	url = https://github.com/w0rp/ale
[submodule "vim/.vim/plugged/vim-tmux-focus-events"]
	path = vim/.vim/plugged/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events
[submodule "vim/.vim/plugged/vim-tmux-clipboard"]
	path = vim/.vim/plugged/vim-tmux-clipboard
	url = https://github.com/roxma/vim-tmux-clipboard
[submodule "vim/.vim/plugged/vim-tmux-navigator"]
	path = vim/.vim/plugged/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/.vim/plugged/vim-easymotion"]
	path = vim/.vim/plugged/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "vim/.vim/plugged/vim-surround"]
	path = vim/.vim/plugged/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/.vim/plugged/vim-paste-easy"]
	path = vim/.vim/plugged/vim-paste-easy
	url = https://github.com/roxma/vim-paste-easy
[submodule "vim/.vim/plugged/vim-commentary"]
	path = vim/.vim/plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/.vim/plugged/coc.nvim"]
	path = vim/.vim/plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "vim/.vim/plugged/vim-cpp-enhanced-highlight"]
	path = vim/.vim/plugged/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule "vim/.vim/plugged/vimspector"]
	path = vim/.vim/plugged/vimspector
	url = https://github.com/puremourning/vimspector
[submodule "vim/.vim/plugged/vim-which-key"]
	path = vim/.vim/plugged/vim-which-key
	url = https://github.com/liuchengxu/vim-which-key
[submodule "tmux/.tmux/plugins/vim-tmux-navigator"]
	path = tmux/.tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/.vim/plugged/vim-fugitive"]
	path = vim/.vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/plugged/vim-gitgutter"]
	path = vim/.vim/plugged/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/.vim/plugged/nerdtree-git-plugin"]
	path = vim/.vim/plugged/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "vim/.vim/plugged/vim-cool"]
	path = vim/.vim/plugged/vim-cool
	url = https://github.com/romainl/vim-cool
[submodule "vim/.vim/plugged/vim-easy-align"]
	path = vim/.vim/plugged/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "vim/.vim/plugged/vim-startify"]
	path = vim/.vim/plugged/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "vim/.vim/plugged/codeium.vim"]
	path = vim/.vim/plugged/codeium.vim
	url = https://github.com/Exafunction/codeium.vim
[submodule "vim/.vim/plugged/vim-translator"]
	path = vim/.vim/plugged/vim-translator
	url = https://github.com/voldikss/vim-translator
[submodule "vim/.vim/plugged/markdown-preview.nvim"]
	path = vim/.vim/plugged/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
[submodule "vim/.vim/plugged/tabular"]
	path = vim/.vim/plugged/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/.vim/plugged/vim-markdown"]
	path = vim/.vim/plugged/vim-markdown
	url = https://github.com/preservim/vim-markdown
[submodule "vim/.vim/plugged/vim-markdown-toc"]
	path = vim/.vim/plugged/vim-markdown-toc
	url = https://github.com/mzlogin/vim-markdown-toc
[submodule "vim/.vim/plugged/vim-repeat"]
	path = vim/.vim/plugged/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/.vim/plugged/vim-table-mode"]
	path = vim/.vim/plugged/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode
[submodule "vim/.vim/plugged/vim-visual-multi"]
	path = vim/.vim/plugged/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi
[submodule "vim/.vim/plugged/vim-im-select"]
	path = vim/.vim/plugged/vim-im-select
	url = https://github.com/brglng/vim-im-select
[submodule "vim/.vim/plugged/vim-nerdtree-syntax-highlight"]
	path = vim/.vim/plugged/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight
